<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.dev.info"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:targetSdkVersion="14"
        android:minSdkVersion="7" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>  
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Application -->
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <!-- @string means these are defined in res\values\strings.xml -->
        
        <uses-library android:name="com.google.android.maps" />
        
        <!-- Main Activity Start -->
        <activity
            android:name=".AndroidInfoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main Activity End -->
        
        <!-- Phone Identity Activity Start -->
        <activity
            android:name=".phone_ident_act"
            android:label="@string/act_phone_ident" >
            <receiver android:name=".battery_update">
	            <intent-filter>
				    <action android:name="android.intent.action.ACTION_BATTERY_CHANGED"/>
				</intent-filter>
			</receiver>
        </activity>
        <!-- Phone Identity Activity End -->
        
        <!-- Software Information Activity Start -->
        <activity
            android:name=".software_info_act"
            android:label="@string/act_software_info" >
        </activity>
        <!-- Software Information Activity End -->
        
        <!-- Network Activity Start -->
        <activity
            android:name=".network_act"
            android:label="@string/act_network" >
        </activity>
        <!-- Network Activity End -->
        
        <!-- Wifi Activity Start -->
        <activity
            android:name=".wifi_act"
            android:label="@string/act_wifi" >
        </activity>
        <!-- Wifi Activity End -->
        
        <!-- Wifi_Connected Activity Start -->
        <activity
            android:name=".wifi_connected_act"
            android:label="@string/act_wifi" >
            <receiver android:name=".wifi_update">
	            <intent-filter>
				    <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
				    <action android:name="android.net.wifi.RSSI_CHANGED"/>
				</intent-filter>
			</receiver>
        </activity>
        <!-- Wifi_connected Activity End -->
        
        <!-- Wifi_Scan Activity Start -->
        <activity
            android:name=".wifi_scan_act"
            android:label="@string/act_wifi" >
            <receiver android:name=".WifiScan">
	            <intent-filter>
				    <action android:name="android.net.wifi.SCAN_RESULTS"/>
				    <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/> -->
				</intent-filter>
			</receiver>
        </activity>
        <!-- Wifi_Scan Activity End -->
        
        <!-- Location MAPS Activity Start -->
        <activity
            android:name=".location_maps_act"
            android:label="@string/act_location" >
        </activity>
        <!-- Location MAPS Activity End -->
        
        <!-- Location Activity Start -->
        <activity
            android:name=".location_act"
            android:label="@string/act_location" >
        </activity>
        <!-- Location Activity End -->
        
        <!-- Sensor Activity Start -->
        <activity
            android:name=".sensor_act"
            android:label="@string/act_sensor" >
        </activity>
        <!-- Sensor Activity End -->
        
        <!-- Sensor Activity Start -->
        <activity
            android:name=".xml_act"
            android:label="@string/act_wte" >
        </activity>
        <!-- Sensor Activity End -->
        
    </application>

</manifest>